.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #212529;
  border-right: 1px solid #2c2c2c;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar nav {
  height: 100%;
}

.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
  overflow-x: hidden;
  color: #eee;
}
